@import url('https://fonts.googleapis.com/css2?family=Shizuru&family=ZCOOL+QingKe+HuangYou&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

.shoeFont {
    font-family: 'Hind';
    position: absolute;
    top: 140px;
    left: 250px;
    width: 50%;
    font-size: 11px;
}

.tableFont {
    font-family: 'Hind';
    color: white;
}

.shoeTableFont {
    font-family: 'Hind';
    position: relative;
    top: 90px;
    width: 100%;
    padding-right: 100px;
    /* padding-left: 10px; */
    
    margin-left: 50px;

} 

#nameDisplay{
    font-family: 'Hind';
    font-size: 60px;
    text-align: center;
    padding-bottom: 3%;
}

#deleteFont{
    font-family: 'Hind';
    font-size: 10px;
    width: 150px;
}

#updateFont{
    font-family: 'Hind';
    font-size: 12px;
    width: 250px;
}

#iconFont {
    font-family: 'Hind';
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-left: 10px;
    position: relative;
    bottom: 2px;
    left: 450px;
}


#iconFont:hover {
    color: rgb(15, 15, 15);
}